# Bazel settings used locally. See
# https://bazel.build/docs/best-practices#bazelrc-file.

# Always display the flags being used.
common --announce_rc

# UI.
common --show_task_finish
common --show_timestamps

# Show more information about failures.
build --verbose_failures

# Show errors.
test --test_output=errors

# Allow user to override default configuration using `user.bazelrc`.
try-import %workspace%/user.bazelrc
